.icons-color {
  color: none;
  margin-top: 4px;
  margin-right: 20px;
  font-weight: 700;
  /* font-size: 50px; */
}

.linkEl {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  font-size: 23px;
  margin-top: 15px;
  font-weight: 600;
}

.para {
  font-weight: 600;
}
